<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.rafalmanka.fiszki.shaker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Fiszki" >
        <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="pl.rafalmanka.fiszki.shaker.view.StartingPointActivity"
                android:label="@string/activity_main"
                android:screenOrientation="portrait"
                android:theme="@style/customTheme">
        </activity>
        <activity
                android:name="pl.rafalmanka.fiszki.shaker.view.MainActivity"
                android:label="@string/activity_main"
                android:screenOrientation="portrait"
                android:theme="@style/customTheme" >
        </activity>
        <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.LanguageListActivity"
            android:label="@string/choose_language"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
        </activity>
        <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.TopicsListActivity"
            android:label="@string/choose_topic"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
        </activity>
        <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.WordsListActivity"
            android:label="@string/choose_words"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
        </activity>
        <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.SettingsActivity"
            android:label="@string/activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
        </activity>
         <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.AddNewWordActivity"
            android:label="@string/activity_add_new_word"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
        </activity>
        <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.AddNewWordsetActivity"
            android:label="@string/activity_add_new_wordset"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
        </activity>
         <activity
            android:name="pl.rafalmanka.fiszki.shaker.view.ChooseLocalSetActivity"
            android:label="@string/activity_choose_local_set"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
        </activity>

        <service android:name=".services.PushWordsService" />
    </application>

</manifest>